---
import { Button } from "@/components/ui";
import { company } from "@/data/company";
---

<section class="bg-primary text-primary-foreground py-20 text-center px-4">
  <h2 class="mb-10 text-5xl font-black tracking-wider leading-normal">
    Ready to get started? <br />Contact us today for a free estimate.
  </h2>
  <div class="flex flex-col gap-5 items-center">
    <Button variant="primaryAlt" size="lg" rounded="full"
      >GET YOUR FREE ESTIMATE</Button
    >
    <Button href={`tel:${company.phone}`} size="lg" rounded="full"
      >{company.phone}</Button
    >
  </div>
</section>
