---
import { RatingCard } from "@/components/ui";
import Google from "@/assets/icons/google.svg";
import Yelp from "@/assets/icons/yelp.svg";
import Thumbtack from "@/assets/icons/thumbtack.svg";
import TestimonialSlide from "./TestimonialSlide";
import { company } from "@/data/company";
const testimonials = [
  {
    quote:
      "Professional in every way from planning to scheduling to the job itself and cleanup. Vick is meticulous, efficient and gracious. Plus, the fee was 30% less than other estimates. I am a very happy customer. Advance Electrical earns its high ratings!",
    author: "Trisha R.",
    initials: "TR",
    platform: "Thumbtack",
  },
  {
    quote:
      "They have been my go to electrician since I first used them 2 years ago. I've used them on large and small jobs. Honest and reliable. That combo is hard to find. Mike the scheduler is great. Always get an appointment very quick. And he's very responsive by text. Robert the owner is super responsive too. Would highly recommend!",
    author: "Meena N",
    initials: "MN",
    platform: "Yelp",
  },
  {
    quote:
      "Was able to get an appointment quickly. Techs showed up when they said they would. Finished the job quickly. Very conscientious of the space during the work. We have used them multiple times and highly recommend.",
    author: "David G",
    initials: "DG",
    platform: "Google",
  },
];

const reviewSites = [
  {
    name: "Yelp",
    icon: Yelp,
    link: company.yelp,
  },
  {
    name: "Google",
    icon: Google,
    link: company.google,
  },
  {
    name: "Thumbtack",
    icon: Thumbtack,
    link: company.thumbtack,
  },
];
---

<section class="bg-surface-dark text-surface-dark-foreground">
  <div class="max-w-7xl mx-auto px-4 py-20">
    <!-- Heading and Description -->
    <div class="text-center mb-12">
      <h2>What Our Clients Say</h2>
      <p class="text-surface-dark-muted">
        Hear from our satisfied customers about their experiences with our
        services.
      </p>
    </div>
    <div class="flex flex-wrap justify-center gap-4 mb-12">
      {reviewSites.map((site) => <RatingCard moreReview={site} />)}
    </div>
    <TestimonialSlide client:only testimonials={testimonials} />
  </div>
</section>
