---
import { Button } from "@/components/ui";
---

<div
  class="relative w-full h-[600px] bg-[url('/hero2.jpg')] bg-no-repeat bg-top bg-cover text-surface-dark-foreground flex items-center justify-center"
>
  <div
    class="absolute inset-0 bg-gradient-to-b from-white/0 via-black/90 to-white/0 z-10"
  >
  </div>
  <div class="relative z-20 text-center px-5">
    <h1>Powering What Matters Most</h1>
    <p class="my-5 max-w-2xl mx-auto text-lg text-surface-dark-muted">
      From homes to industrial facilities, our licensed team ensures precision,
      safety, and satisfaction backed by 25+ years of experience.
    </p>

    <Button variant="primary" rounded="full" size="lg"
      >Request a Free Quote Today</Button
    >
  </div>
</div>
