---
import { Button } from "@/components/ui";
import { Layout } from "@/layouts";
import { pageData } from "@/data/pageData";
---

<Layout title={pageData.about.title} description={pageData.about.description}>
  <div
    class="relative w-full h-[500px] bg-[url('/about.webp')] bg-no-repeat bg-top bg-cover text-surface-dark-foreground flex flex-col items-center justify-center"
  >
    <div class="absolute inset-0 bg-black/70 z-10 backdrop-blur-sm"></div>
    <h1 class="text-center mt-8 z-10">About Us</h1>
    <p class="text-center text-surface-dark-muted z-10">
      Learn more about our commitment to quality and service.
    </p>
  </div>
  <div class="max-w-7xl mx-auto px-4 py-8">
    <p>
      At Advance Electrical Pro Services, we are committed to delivering safe,
      reliable, and high-quality electrical solutions for both residential and
      commercial clients. With over 25 years of combined industry experience,
      our licensed and insured team specializes in a wide range of electrical
      services from panel upgrades and lighting installations to EV charger
      setups, and comprehensive wiring for new construction or remodels.
      <br />
      <br />
      We understand that electricity is the backbone of any modern home or business.
      That’s why we prioritize precision, compliance with code, and long-term safety
      in every project we take on. Whether we’re troubleshooting a flickering light
      or installing a state-of-the-art electrical panel, our goal is always to provide
      peace of mind through expert craftsmanship and transparent service.
      <br />
      <br />
      We take pride not just in what we do but how we do it. Our customers choose
      us for our prompt communication, professional integrity, and the care we bring
      to every job site. At the end of the day, we believe in building lasting relationships,
      one successful project at a time.
      <br />
      <br />
      Let us help power your space with expertise you can trust.
    </p>
    <div class="flex justify-center mt-8">
      <Button variant="primary" rounded="full">GET IN TOUCH TODAY</Button>
    </div>
  </div>
</Layout>
