---
import { Layout } from "@/layouts";
import { Form } from "@/components/contact";
---

<Layout title="Contact">
  <section class="max-w-7xl px-4 mx-auto py-8">
    <h1 class="text-center">Contact Us</h1>
    <p class="text-center text-foreground-muted mb-8">
      Have questions or need our services? Reach out to us!
    </p>
    <Form />
  </section>
</Layout>
