---
import { Hero } from "@/components/sections";
import { Layout } from "@/layouts";
import "@/styles/app.css";
---

<Layout title="Advance Electrical Service">
  <main>
    <Hero />
  </main>
</Layout>
