---
import {
  Hero,
  Services,
  Testimonials,
  CallToAction,
} from "@/components/sections";
import { Layout } from "@/layouts";
---

<Layout title="Advance Electrical Service">
  <main class="pb-20">
    <Hero />
    <Services />
    <Testimonials />
    <CallToAction />
  </main>
</Layout>
