---
import { Hero, Services } from "@/components/sections";
import { Layout } from "@/layouts";
---

<Layout title="Advance Electrical Service">
  <main>
    <Hero />
    <Services />
  </main>
</Layout>
