---
import { Hero, Services, Testimonials } from "@/components/sections";
import { Layout } from "@/layouts";
---

<Layout title="Advance Electrical Service">
  <main class="pb-20">
    <Hero />
    <Services />
    <Testimonials />
  </main>
</Layout>
