---
import { Layout } from "@/layouts";
import { ServicesDetails } from "@/components/services";
---

<Layout title="Our Services">
  <h1 class="text-center mt-8">Our Services</h1>
  <p class="text-center text-foreground-muted">
    We offer a wide range of electrical services to meet your needs.
  </p>
  <ServicesDetails />
</Layout>
