---
import { Layout } from "@/layouts";
import { company } from "@/data/company";
import { Button } from "@/components/ui";
---

<Layout title="pageData.thanks.title" description="pageData.thanks.description">
  <div class="max-w-7xl mx-auto px-4 py-8">
    <h1 class="text-center py-10">Thank You!</h1>
    <p class="text-center text-lg">
      Your request has been successfully submitted. We appreciate you contacting
      us and will get back to you as soon as possible regarding your electrical
      project or service request. If your matter is urgent, please feel free to
      call us directly. We look forward to working with you.
    </p>
    <div class="flex justify-center pt-8">
      <Button href={`tel:${company.phone}`} size="lg" rounded="full"
        >{company.phone}</Button
      >
    </div>
  </div>
  <p class="text-center italic text-sm text-surface-muted">
    Redirecting you back to the homepage in <span id="countdown">10</span> seconds...
  </p>
</Layout>

<!-- <script>
  let secondsLeft = 10;
  const countdownElement = document.getElementById("countdown");

  const interval = setInterval(() => {
    secondsLeft -= 1;

    if (countdownElement) {
      countdownElement.textContent = secondsLeft.toString();
    }

    if (secondsLeft <= 0) {
      clearInterval(interval);
      window.location.href = "/"; // Your redirect destination
    }
  }, 1000);
</script> -->
