---
import Link from "@/assets/icons/link.svg";
type Props = {
  title: string;
  description: string;
  link?: string;
  icon?: any;
};
const { title, description, link, icon: Icon } = Astro.props;
---

<div class="flex flex-col h-full">
  <div
    class="bg-surface-dark text-surface-dark-foreground p-6 rounded-t-md shadow-md text-center flex-1"
  >
    <div class="flex justify-between">
      <Icon class="w-8 h-8 fill-primary" />
      <Link class="w-5 h-5 fill-current text-primary" />
    </div>
    <h3 class="text-xl font-semibold mb-2">{title}</h3>
    <p class="text-base text-surface-dark-muted">{description}</p>
  </div>
  <div class="bg-surface text-primary p-2 rounded-b-md shadow-md text-center">
    <a href={link} class="hover:underline">Learn More</a>
  </div>
</div>
