---
type Props = {
  quote: string;
  author: string;
  initials?: string;
};
const { quote, author, initials } = Astro.props;
---

<div class="bg-surface text-surface-foreground p-6 rounded-lg shadow-lg">
  <div class="flex flex-col justify-between h-full">
    <blockquote class="text-lg italic text-center">
      "{quote}"
    </blockquote>
    <div class="flex items-center justify-center gap-4 mt-5">
      <div
        class="border-4 border-accent rounded-full w-14 h-14 flex items-center justify-center"
      >
        <p class="text-xl font-bold">{initials}</p>
      </div>
      <p class="text-lg font-semibold">{author}</p>
    </div>
  </div>
</div>
